html[color-scheme=dark]  .messages { --shadow-color: rgba(0, 0, 0, 1   ) }
html[color-scheme=light] .messages { --shadow-color: rgba(0, 0, 0, 0.25) }

.messages,
.messages ul {
  display: flex;
  flex-direction: column;
}

.messages {
  bottom: 0;
  position: absolute;
  top: 12rem;
}

.messages header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messages header h2 { margin-right: 1rem }

html[color-scheme=dark] .messages header button {
  --backdrop-color: #440;
  --text-color: #ffb;
}

html[color-scheme=light] .messages header button {
  --backdrop-color: #bb8;
  --text-color: white;
}

.messages header button {
  background-color: var(--backdrop-color);
  border: none;
  border-radius: 0.25rem;
  color: var(--text-color);
  height: fit-content;
  font-size: 1rem;
  padding: 0.5rem;
  width: fit-content;
}

.messages header button:hover { cursor: pointer }

.messages #clear-tooltip { left: 6.5rem }

.messages ul {
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  bottom: 1rem;
  box-shadow: 0 3px 5px var(--shadow-color);
  height: calc(100% - 7rem);
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0.5rem 1rem;
}

.messages li {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-block-start: 0;
  width: calc(40rem - 2rem);
}

html[color-scheme=dark] .messages li p {
  --client-message-backdrop-color: linear-gradient(#353, #242);
  --server-message-backdrop-color: linear-gradient(#535, #424);
  --text-color: rgba(255, 255, 255, 0.8);
  --text-shadow-color: var(--shadow-color);
}

html[color-scheme=light] .messages li p {
  --client-message-backdrop-color: linear-gradient(#afa, #9e9);
  --server-message-backdrop-color: linear-gradient(#faf, #e9e);
  --text-color: rgba(0, 0, 0, 0.5);
  --text-shadow-color: transparent;
}

.messages li p {
  border-radius: 1rem;
  box-shadow: 0 2px 3px var(--shadow-color);
  color: var(--text-color);
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  text-shadow: 0 1px 1px var(--shadow-color);
  width: fit-content;
}

.messages li p:hover { cursor: default }

.messages .client { align-items: flex-start }
.messages .client p { background: var(--client-message-backdrop-color) }

.messages .server { align-items: flex-end }
.messages .server p { background: var(--server-message-backdrop-color) }
